@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --body-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --second-color:#757575;
    --bg-footer:#2F303A;
    --color-contact:rgba(255, 255, 255, 0.6);
}
body {
    font-family:Roboto,sans-serif;
    font-weight: bold;
    color:var(--body-color);
   } 
a {
    font-style:normal;
    text-decoration:none;
}
.primary-white-color{
    color:var(--primary-white-color)
}
.accent-color {
    color:var(--accent-color);
}
.main-color{
    color:var(--body-color);
}
.second-color{
    color:var(--second-color);
}
ul {
    list-style: none;
}
.button-main {
    color:var(--primary-white-color);
    cursor:pointer;
    font-size: 16px;
    line-height: 1.62;
}
.list {
    color:var(--primary-white-color);
    cursor:pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.logo {
    font-size: 26px;
    line-height: 1.19;
    color:var(--body-color);
    font-family: Raleway;

}
.logo-blue {
    color:var(--accent-color);
    /* font-size: 26px;
    line-height: 1.19;
    font-family: Raleway; */
    
}
        /* header */
 .site-nav a {
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
/*
.site-nav a:hover,
.site-nav a:focus {
    text-decoration: underline;
} */

        /* footer */
.footer {
    font-style:normal;
    background-color: var(--bg-footer);
    color:var(--body-color);
}
.concact-color{
    color:var(--color-contact);
}
.footer a:hover,
.footer a:focus {
    color: var(--accent-color);
}

.button {
    color:var(--accent-color);
    background-color: var(--primary-bg-color);
    width: 73px;
    height: 38px;
    border-radius: 4px;
}

.button.primary{
    color:var(--accent-color);
    background-color: var(--primary-white-color);
    
}
.button.primary:hover,
.button.primary:hover{
        text-decoration: underline;
}

.button.secondary {
    color:var(--accent-color);
    background-color: var(--primary-white-color);
}
